html {
  background-color: black;
}

.body {
  background-color: black;
  color: green;
}

.button {
  color: green;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
}

.binList {
  grid-area: bins;
}

.unorderedList {
  padding-left: 5%;
}

.bin {
  list-style-type: none;
}

.requests {
  grid-area: requests;
}

.binSection {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas:
    "bins requests";
}